add_band_to_db.py
build_records_db.py
fix_genre.py
local_app_randommetal.py
add_record_to_db.py
add_list_of_records.py
fix_genre2.py
records_to_add.csv
backup_metal_records.csv
get_3_genres_to_new_csv.py
app_randommetal2.py
app_randommetal3.py
backup_app_randommetal.py
db_stats.py
